# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Google Credentials
credentials/
service_account.json

# Streamlit
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
